.container {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secundary-light);
	border-bottom: 1px solid var(--tertiary-light);
}

.containerClima,
.containerUmidade,
.containerVento,
.containerEstacao {
	height: 100%;
	color: var(--tertiary-dark);
	font-size: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.containerClima,
.containerUmidade,
.containerVento {
	width: 28%;
	border-right: 1px solid var(--tertiary-light);
}

.containerEstacao {
	width: 16%;
}

.estacaoName {
	border: none;
	background: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	outline: none !important;
}

.icon {
	font-size: 2.5rem;
	margin-right: 2%;
}

.iconVento {
	font-size: 2.8rem;
	margin-right: 2%;
}

.buttonContent {
	min-width: 100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid var(--secundary-green);
}

.iconEstacao {
	font-size: 1.7rem;
	margin-right: 2%;
	color: var(--secundary-green);
}

.estacao {
	font-size: 1.2rem;
	color: var(--secundary-green);
}
