.header {
	height: 60px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--primary-light);
}

.logoContainer {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	border-bottom: 1px solid var(--tertiary-light);
	border-right: 1px solid var(--tertiary-light);
	outline: none !important;
}

.logo {
	width: auto;
	height: 100%;
}

.linksContainer {
	width: 75%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-right: 4%;
	justify-content: flex-end;
	border-bottom: 1px solid var(--tertiary-light);
}

.headerLink {
	margin-right: 3%;
	color: var(--primary-dark);
	font-weight: 500;
	font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
	.toggle {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.logoContainer {
		width: 25%;
	}

	.headerLink {
		margin-right: 3%;
		font-size: 1.2rem;
	}
}
