:root {
	--primary-light: #ffffff;
	--secundary-light: #eeeeee;
	--tertiary-light: #dddddd;
	--quaternary-light: #cecece;
	--primary-dark: #444444;
	--secundary-dark: #555555;
	--tertiary-dark: #666666;
	--primary-green: #7cc352;
	--gradiente-green: linear-gradient(
		0deg,
		rgba(124, 195, 82, 1) 0%,
		rgba(216, 237, 203, 0.54) 10%,
		rgba(255, 255, 255, 0) 15%,
		rgba(255, 255, 255, 0) 85%,
		rgba(216, 237, 203, 0.5438550420168067) 90%,
		rgba(124, 195, 82, 1) 100%
	);
	font-size: 10px;
}

* {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

input {
	border: 0;
}

body {
	overflow-x: hidden;
	height: 100%;
}
